doctype html
html
    head
        title pageTitle
        script
            |window.onload=function(){
            |   var oBtn=document.getElementById('btn');
            |}
    body
        |aaa
        div 我的名字：#{name}
        div(style=json)
        div(class=arr)
        div(class=arr class="active")

        -var a=12;
        -var b=5;
        div 结果是#{a+b}
        span=c
        span=d

        for(var i=0; i<arr.length; i++)
        div=arr[i]
        div!=content